<div class "row justify-content-center">
	<br>
	<h1 class="col-sm-12 display-4 text-center">Controle de garagem</h1>
	<br>
	<br>
	<br>
	<div class="w-100"></div>
	<div class="container">
		<div class="card-deck mb-3 text-center">
			<div class="card mb-4 box-shadow">
				<span class="border border-primary"></span>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">Cadastro de veículo<small class="text-muted"></small></h1>
					<ul class="list-unstyled mt-3 mb-4">
						<br>
					</ul>
					<button type="button" class="btn btn-lg btn-block btn-primary" ng-click="HomeCtrl.go('veiculos')"> Cadastrar</button>
				</div>
			</div>
			<div class="card mb-4 box-shadow">
				<span class="border border-primary"></span>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">Cadastro de reserva<small class="text-muted"></small></h1>
					<ul class="list-unstyled mt-3 mb-4">
						<br>
					</ul>
					<button type="button" class="btn btn-lg btn-block btn-primary" ng-click="HomeCtrl.go('reservas')">Reservar</button>
				</div>
			</div>
			<div class="card mb-4 box-shadow">
				<span class="border border-primary"></span>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">Lista de veículos e reservas<small class="text-muted"></small></h1>
					<ul class="list-unstyled mt-3 mb-4">
						<br>
					</ul>
					<button type="button" class="btn btn-lg btn-block btn-primary" ng-click="HomeCtrl.go('reservas-lista')">Listar</button>
				</div>
			</div>
		</div>
		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md">
				</div>
			</div>
	</div>
	</footer>
</div>
